doctype html
html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/index.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
