body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
th {
    width: 30%;
    height: 50px;
}
td {
    width: 30%;
    height: 50px;
}
button {
    margin-bottom: 50px;
}
a {
  color: #00B7FF;
}
